*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins';
}
.hero{
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#577081;
}

hi{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size:5rem;
    font-weight: 100;
}